#!/usr/bin/env zsh

# Naviation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Directories
alias pj="cd ~/projects"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"