[alias]

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format
	s = status -s

	sa = submodule add

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	# `git di $number` shows the diff between the state `$number` revisions ago and the current state
	di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

	# Pull in remote changes for the current repository and all its submodules
	p = !"git pull; git submodule foreach git pull origin master"

	# Clone a repository including all submodules
	c = clone --recursive

	# Commit
	cm = commit -m

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"

    # Amend the currently staged files to the latest commit
	oops = commit --amend --reuse-message=HEAD

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

    # Current branch name
    current = rev-parse --abbrev-ref HEAD

    # Push current branch to origin
    pub = "!git push origin $(git current)"

	default = "!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"

	empty = commit --allow-empty -m 'Empty commit.'

	pick = "!f() { \
        if [ $# -ne 2 ]; then \
            echo 'Usage: git pick <number_of_commits> <new_branch_name>'; \
            return 1; \
        fi; \
        commits=$(git log -n $1 --format='%H' --reverse); \
        if git checkout -b $2 $(git default); then \
            echo \"Created new branch '$2' from default branch\"; \
            for commit in $commits; do \
                echo \"Cherry-picking commit $commit\"; \
                if ! git cherry-pick $commit; then \
                    echo 'Cherry-pick failed. You may need to resolve conflicts.'; \
                    break; \
                fi; \
            done; \
            echo \"Successfully cherry-picked $1 commits to branch '$2'\"; \
        else \
            echo \"Failed to create branch '$2'\"; \
            return 1; \
        fi; \
    }; f"


[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[include]
    # User information
    path = .gituser
[core]
	editor = vim
[init]
	defaultBranch = main
[gui]
	fontdiff = -family \"Ubuntu Mono\" -size 22 -weight normal -slant roman -underline 0 -overstrike 0
	fontui = -family \"Ubuntu Mono\" -size 22 -weight normal -slant roman -underline 0 -overstrike 0
[pull]
	rebase = true
[diff]
	external = difft
